<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Phoenix Eye Viewer</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <style>
        body {
            font-family: sans-serif;
        }

        .chart {
            background-color: #f9f9f9;
            border: 1px solid #ccc;
            overflow: hidden;
            margin: 20px;
        }

        .event-group-1 {
            fill: steelblue;
            font-size: 15px;
        }

        .event-group-2 {
            fill: darkorange;
            font-size: 15px;
        }
    </style>
</head>

<body>
    <h2>Phoenix Eye Viewer</h2>
    {% if current_user.is_authenticated %}
    <p>ようこそ{{ current_user.name }} さん</p>
    {% else %}
    <p>ログインしていません</p>
    {% endif %}

    <!-- <a href=login style="float:right">| LogIn |</a> -->
    <!-- <a href=register style="float:right">| Register |</a> -->
    <a href=logout style="float:right">| LogOut |</a>

    <br>
    <a href=select>Select History</a>

    <script>
        // var myVariable = "/static/data/disp_guest_01.csv";

        var myVariable = "/static/data/disp_" + "{{ current_user.name }}" + ".csv"

    </script>

    <div class="button-container">
        <button class="button" id="show-all-button">All Period</button>
    </div>

    <div class="chart"></div>

    <!-- <script src="static/script_shot.js"></script> -->
    <script src="static/script_long.js"></script>
</body>

</html>
